					/* Here I added the external fonts that we are going to use in our project. -DN */
					@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Do+Hyeon&family=Sigmar+One&display=swap');
					@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');	
					/* Here I made the 5 boxes that will allow for quick navigation between pages with a similar style of css  -DN */
			.b1 { background-color: lawngreen; color: black; font-weight: bold; font-size: 25px;	box-shadow: 3px 3px 3px 0px grey; border-radius: 15px; padding: 1.5%; width: 150px; border: 4px solid black; }
		
			
			.b2 { background-color: lawngreen; color: black; font-weight: bold; font-size: 25px; box-shadow: 3px 3px 3px 0px grey; border-radius: 15px; padding: 1.5%; width: 230px; border: 4px solid black} 
			
			
			.b3 { background-color: lawngreen; color: black; font-weight: bold; font-size: 25px; padding: 5px;box-shadow: 3px 3px 3px 0px grey; border-radius: 15px; padding: 1.5%; width: 180px; border: 4px solid black}
			
			
			#main { align: center;}
			
			
			.b4 { background-color: lawngreen; color: black; font-weight: bold; font-size: 25px;	box-shadow: 3px 3px 3px 0px grey; border-radius: 15px; padding: 1.5%; width: 230px; border: 4px solid black}
			
			
			.b5 { background-color: lawngreen; color: black; font-weight: bold; font-size: 25px;	box-shadow: 3px 3px 3px 0px grey; border-radius: 15px; padding: 1.5%; width: 190px; border: 4px solid black}
			#main { font-family: "Do Hyeon";}

			.lilita-one-regular {
				font-family: "Lilita One", sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 50px;
			  }
			/* This ensures the links aren't underlined in the 5 box menu on each page ~_DN */
			  a {
				text-decoration: none;
				color: black;
			  }
